{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Про нас
{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-6 border p-4 mr-auto">
        <h1>Про проект</h1>
        <p class="">
            Дипломний проект на тему веб-сайт «Practice portal». Це проект, який дозволить користувачу – студенту чи особі, що потребує проходження практики, знайти необхідне місце для стажування. А для організації чи падприємства запропонувати наявні посади, як для проходження практики так і подальшого працевлаштування. Це допоможе найефективніше налагоджувати зв’язки між практикантом та підприємством.
            Веб-сайт відноситься до таких областей застосування, як навчальна та комунікативна.
            Головна мета – це спрощення пошуку місця для проходження практики. 

        </p>
    </div>
    <div class="col-md-5 border p-4 ">
        <h1 class="">Контакти</h2>
            <!--Section description-->
            <p class=" ">У вас є які-небудь питання? Будь ласка, не соромтеся
                зв'яжіться з нами.</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-outline-white-primary"  value="Надіслати">
            </form>
    </div>
    <!--Grid column-->

</div>

{% endblock content %}