{% extends 'base.html' %}
{% block content%}

 <section class="bg-light-gray">
        <div class="container">
            <h1 class="heading">{{ job.title }}<br>
                <small>at <a href="{{ job.website }}"> {{ job.company_name }}</a></small>
            </h1>
            <div class="job-detail-description"><i class="fa fa-map-marker job__location"> </i>
                {{ job.location }} | Розміщенно {{ job.created_at|timesince }} |
                {% if job.type == '1' %}
                    <span class="badge featured-badge badge-success">Робота</span>
                {% elif job.type == '2' %}
                    <span class="badge featured-badge badge-primary">Випробування</span>
                {% else %}
                    <span style="color: #ffffff;" class="badge featured-badge badge-warning">Стажування</span>
                {% endif %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Категорія: {{ job.category }}</h3>
                    <h5>Остання дата: {{ job.last_date|date }}</h5>
                    <h5 class="text-info">Зарплата: договірна</h5>
                    <blockquote class="blockquote">
                        <p>{{ job.description }}</p>
                    </blockquote>


                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <h4>Про компанію {{ job.company_name }}</h4>
                    <p class="job-detail__company-description">{{ job.company_description }}</p>
                    <p class="job-detail__social social social--outline">
                        <a href="{{ job.website }}" data-toggle="tooltip" data-placement="top" title="Website"
                           class="link">
                            <i class="fa fa-link"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </section>
<div class="col-lg-6 offset-3 mx-auto">
    <div class="box border-dark rounded">
        <form action="" method="POST">
	{% csrf_token %}
	<h4>Видалити дану вакансію?</h4>
    <div style="text-align: center;">
	<input type="submit" class="btn btn-outline-white-primary" value="Так"/>
	<a href="{% url 'practice:employer-dashboard' %}"><input type="button" class="btn btn-outline-white-primary" value="Відмінити" /></a>
    </div>
        </form>
    </div>
</div>
{% endblock %}